* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Archivo;
}
img {
  display: inline-block;
}
.container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 20;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91px;
}
.menu .img {
  margin-right: 30px;
}
.all {
  width: 1120px;
  height: 56px;
  align-items: center;
  display: flex;
}
.all .btn {
  display: inline-flex;
  width: 200px;
  height: 44px;
  border-radius: 100px;
  border: none;
  background: var(--foundation-grey-light, #e9e9e9);
  text-decoration: none;
  color: var(--foundation-grey-normal, #232323);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-right: 70px;
}
.btn-modal p .menu-2 ul {
  display: flex;
}
.menu-2 ul li {
  height: 40px;
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-right: 12px;
  list-style: none;
}
.menu-2 ul li a {
  text-decoration: none;
  color: var(--foundation-grey-normal, #232323);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.h-a {
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--foundation-orange-light-active, #fbd1cb);
}
.ul-1 {
  width: 42px;
  /* margin-right: 20px; */
}
.not-api {
  margin-top: 110px;
  margin-bottom: 110px;
  display: flex;
  justify-content: center;
}
.api-txt h2 {
  color: #666666;
}
.api-txt img {
  position: relative;
  left: 150px;
}
.h-a a {
  width: 110px;
  height: 17px;
  color: var(--foundation-orange-normal, #f26957) !important;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.h-a-1 {
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--foundation-orange-normal, #f26957);
  background: #fff;
}
.h-a-1 a {
  color: var(--foundation-orange-normal, #f26957);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
/* ------------>
BANNER
------------> */
.banner {
  display: inline-block;
  justify-content: center;
  border-radius: 32px;
  background: linear-gradient(97deg, #f26957 -4.42%, #ffa00e 106.18%);
  height: 593px;
}
.bn-hd {
  display: flex;
  justify-content: center;
}
.d-fl {
  display: flex;
  margin-bottom: 133px;
}
.ell {
  margin-left: 171px;
  margin-right: 353px;
}
.c1 img {
  border-radius: 30px;
}
.d-fl-1 {
  display: flex;
}
.c1-3 {
  margin-left: 870px;
  float: right;
}
.main-header {
  padding-top: 44px;
}
.main-header .main-text h1 {
  width: 720px;
  color: #fff;
  font-family: Archivo;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}
.main-h-input {
  display: flex;
  align-items: center;
  border-radius: 1000px;
  background: #fff;
  width: 757px;
  height: 70px;
  flex-shrink: 0;
  padding-left: 16px;
  margin-right: 88px;
}
.h-inp {
  display: flex;
  padding: 15px 28px;
  width: 149px;
  border: none;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: 13px;
  margin-right: 24px;
  border-radius: 100px;
  background: var(--foundation-grey-light, #e9e9e9);
}
.h-inp option {
  display: flex;
  justify-content: center;
  color: var(--foundation-grey-normal, #232323);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main-header img {
  margin-right: 16px;
}
.main-header input {
  color: var(--foundation-grey-light-active, #bbb);
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border: none;
  line-height: normal;
}
.w-2 {
  margin-top: 64px;
}
.T-h {
  width: 1100px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 58px;
  position: relative;
  bottom: 170px;
}
.gr-t {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 126px;
  height: 104px;
}
.btn-modal {
  height: 40px;
  font-size: 25px;
}

.btn-modal p {
  width: 130px;
  color: var(--foundation-grey-normal, #232323);
  font-family: Archivo;
  font-style: normal;
  font-size: 16px;
  margin-left: 10px;
  text-transform: none;
  font-weight: 500;
  line-height: normal;
}
.modal-menu {
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.md-menu {
  background-color: white;
  width: 295px;
  height: 540px;
  overflow: scroll;
  gap: 16px;
  flex-shrink: 0;
  margin-right: 20px;
}
.md-menu-1 {
  display: flex;

  width: 690px;
  height: 540px;
  padding-left: 24px;
  /* padding-top: 34px;  */
}
.md_menu {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu-list {
  width: 267px;
  margin-bottom: 16px;
  height: 44px;
  display: flex;
  padding: 10px 25px 10px 52px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 0px 100px 100px 0px;
}
.md_menu :hover {
  background: var(--foundation-orange-light-active, #fbd1cb);
}
.menu-list img {
  width: 24px;
  height: 24px;
}
.menu-list p {
  width: 110px;
  color: #000;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sub-menu {
  width: 276px;
  flex-shrink: 0;
}
.sub-text {
  display: inline-flex;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 0px 20px 20px 0px;
}
.sub-text img {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}
.sub-text p {
  color: rgb(0, 0, 0);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sub-text :hover {
  color: var(--foundation-orange-normal, #f26957);
}
.line {
  width: 1px;
  height: 100%;
  margin-left: 77px;
  margin-right: 34px;
  opacity: 0.1;
  background: #000;
}
.sub-menu,
.menu-list {
  cursor: pointer;
}

/* /////////////////
Product
//////////////// */
.Produc {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.Produc-card {
  display: flex;
}

.Produc-card .card {
  display: flex;
  justify-content: center;
  width: 315px;
  height: 352px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #f1f1f1;
}
.card .ellipse-1 {
  width: 66px;
  height: 66px;
  position: relative;
  left: 270px;
}
.card-frame {
  z-index: 30000;
  display: flex;
  width: 291px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.dev {
  width: 100%;
  height: 164px;
}
.dev img {
  width: 100%;
  border-radius: 15px;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  /* background-color: green; */
}
.card-title h3 {
  width: 285px;
  color: var(--foundation-grey-normal, #232323);
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 24px; 133.333% */
  margin-bottom: 0;
}
.card-title p {
  width: 145px;
  color: var(--foundation-grey-normal, #232323);
  font-family: Archivo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.btn-about {
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #ff463a;
}
.btn-about a {
  color: #fff;
  text-align: center;
  font-family: Archivo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  text-decoration: none;
}
.ellipse-list {
  width: 30px;
  height: 50px;
  background-color: red;
}
.Language {
  display: flex;
}
.Language select {
  border: none;
  list-style: none;
  text-decoration: none;
  background: none;
  width: 80px;
  color: var(--foundation-grey-normal, #232323);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-text-1 {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  height: 50px;
  /* background-color: #f26957; */
}
.main-text-1 h1 {
  color: #000;
  text-align: center;
  font-family: Archivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px; /* 137.5% */
}
.main-text-1 h2 {
  color: var(--foundation-grey-light-active, #bbb);
  text-align: center;
  font-family: Archivo;
  font-size: 24px;
  font-style: normal;
  /* font-weight: 700; */
  /* line-height: 33px; 137.5% */
}
.main-text-1 :hover {
  text-decoration: underline;
}
/* PRODUCT */

.product-list {
  display: flex;
  gap: 22px;
}
.product-list button {
  width: 93px;
  height: 28px;
  border-radius: 40px;
  background: var(--foundation-orange-dark-hover, #913f34);
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 10px;
}
.product-list button a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}
.product-main {
  display: flex;
  width: 150px;
  height: 28px;
  /* justify-content: center; */
}
.product-list img {
  display: flex;
  width: 29px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 8px;
}
.product-list .produc-p {
  color: var(--foundation-grey-normal, #232323);
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  position: relative;
  bottom: 14px;
  font-weight: 400;
  /* line-height: 81px; */
}
.produc-data {
  width: 200px;
  height: 26px;
  display: flex;
}
.produc-data p {
  color: var(--foundation-grey-normal, #232323);
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  position: relative;
  bottom: 18px;
  font-weight: 400;
  line-height: 21px;
}
.produc-view {
  display: flex;
  width: 100px;
  height: 25px;
}
.produc-view p {
  position: relative;
  bottom: 18px;
}
.Loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Loaderning sizini, rangini va boshqa xususiyatlarini o'rnating */
  width: 50px;
  height: 50px;
  border: 3px solid #f2f2f2;
  border-top: 3px solid #f17d42;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
/* .load {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Loaderning sizini, rangini va boshqa xususiyatlarini o'rnating */
/* width: 50px; */
/* height: 50px; */
/* border: 3px solid #f3f3f3; */
/* border-top: 3px solid #3498db; */
/* border-radius: 50%; */
/* animation: spin 2s linear infinite; */
/* } */
/* /*dddddddddd */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* You can adjust this based on your layout */
}

.loader {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  border: 32px solid transparent;
  border-top-color: #ff9900;
  position: absolute;
  left: 0;
  top: 0;
  animation: weld-rotate 2s infinite ease-in;
}
.loader:before {
  border-color: transparent transparent transparent #ff3d00;
  animation-delay: 0.5s;
  animation-direction: reverse;
}
@keyframes weld-rotate {
  0%,
  25% {
    transform: rotate(0deg);
  }
  50%,
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ///////////
sign-up
/////////// */
/* .login {
} */
.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgba(255, 111, 0, 0.879);
}
.Register {
  display: grid;
  place-items: center;
  height: 100vh;
  background: rgb(255, 111, 0, 0.879);
}
.sign {
  background: white;
  border-radius: 30px;
  backdrop-filter: blur(9px);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 660px;
  flex-shrink: 0;
}
.img-sign {
  display: flex;
  width: 580px;
  height: 606px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  left: 62px;

  margin-left: 60px;
}

.frame-sign {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}
.input-sign {
  display: flex;
  width: 456px;
  align-items: flex-start;
}
.btn-sign {
  display: flex;
  width: 456px;
  align-items: flex-start;
}
.btn-sign-1 {
  color: white;
  border-radius: 12px 0 1px 12px;
  display: flex;
  width: 220px;
  border: none;
  padding: 18px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: var(--foundation-grey-light-active, #bbb);
}
.btn-sign-1 b {
  color: #fff;
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-sign-2 {
  color: white;
  border: none;
  border-radius: 0px 12px 12px 0px;
  display: flex;
  padding: 18px 49px 18px 47px;
  justify-content: center;
  align-items: center;
  background: var(--foundation-grey-light-active, #bbb);
}

.btn-sign-2 a {
  color: #fff;
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-4 {
  background-color: black;
}
.btn-3 {
  background-color: black;
}
.kirish-log {
  display: flex;
  font-family: Archivo;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #666;
  font-family: Archivo;
}
.kirish-log p {
  /* color: var(--foundation-grey-normal, #232323); */
  color: white;
  text-align: center;
  font-family: Archivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.frame-230 {
  display: flex;
  color: #666;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.phone-login {
  display: flex;
  width: 454px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.phone-about {
  display: flex;
  padding: 0px 353px 10px 0px;
  align-items: center;
  align-self: stretch;
  margin: 0;
}
.section {
  overflow: hidden;
  padding-left: 20px;
  outline: none;
  height: 56px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
}
.error-login {
  display: flex;
  width: 454px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.frame-234 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.password {
  /* color: #333; */
  color: white;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.password a {
  color: #ffffff;
}
.all-login {
  display: flex;
  width: 454px;
  padding: 16px 52px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: none;
  background: var(--foundation-orange-normal, #f26957);
}
.all-login button {
  color: #fff;
  background: none;
  border: none;
  text-align: center;
  font-family: Archivo;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mySwiper {
  --swiper-navigation-size: 34px;
  --swiper-theme-color: #ff2f00;
}
.bedroom {
  width: 100px;
  height: 22px;
  position: relative;
  color: #f1f1f1;
  font-family: Archivo;
}
.div-blog {
  width: 70px;
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.373);
  /* backdrop-filter: blur(8px); */
  border-radius: 50px;
}
/* FOOTER */
.footer {
  background-color: #000;
  width: 100%;
  height: 401px;
  margin-bottom: 50px;
  border-radius: 32px;
  background: var(--foundation-grey-normal, #232323);
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 36px;
}
.img-fut {
  width: 300px;
  margin-bottom: 37px;
}
.fut-text {
  padding-left: 10px;
  width: 383px;
  display: flex;
  height: 131px;
  flex-shrink: 0;
}

.fut-text-1 {
  width: 120px;
  height: 131px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
  flex-shrink: 0;
  margin-right: 148px;
}
.fut-text-1 a {
  color: #767676;
}
.fut-text-2 {
  width: 170px;
  height: 131px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
  flex-shrink: 0;
}
.fut-text-2 a {
  color: #767676;
  position: relative;
  top: 10px;
}
.fut-btn {
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  top: 15px;
  color: white;
  border-radius: 100px;
  border: 1px solid #fff;
  background: var(--foundation-grey-normal, #232323);
}
.gr-20 {
  width: 108px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  position: relative;
  right: 10px;
  margin-top: 30px;
}
.fc,
.tg,
.ins {
  margin-left: 20px;
}
.fut-note {
  display: flex;
}
.hr-1 {
  position: relative;
  left: 300px;
  width: 1px;
  bottom: 100px;
  height: 309px;
  opacity: 0.1;
  background: #fff;
}
.footer .hr-2 {
  position: relative;
  width: 100%;
  height: 1px;
  bottom: 100px;
  opacity: 0.1;
  background: #fff;
}
.gr-10 {
  position: relative;
  left: 350px;
  bottom: 50px;
}
.gr-10 h2 {
  color: #fff;
  font-family: Archivo;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.gr-10 p {
  width: 320px;
  color: var(--foundation-grey-light, #e9e9e9);
  font-family: Archivo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  opacity: 0.7;
}
.gr-10 .email-help {
  width: 444px;
  height: 58px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--foundation-grey-normal, #232323);
}
.email-help input {
  color: var(--foundation-grey-light, #e9e9e9);
  background: none;
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.5;
  position: relative;
  left: 10px;
}
.btn-help {
  width: 150px;
  color: white;
  border: none;
  height: 50px;
  flex-shrink: 0;
  border-radius: 30px;
  margin-left: 127px;
  background: var(--foundation-orange-normal, #f26957);
}
